body {
    margin: 14px;
    padding: 30px;
}

.section-2-container {
    display: flex;
    justify-content: space-around;
    border: 20px black;
}

.image-icon {
    border-radius: 10%;
    width: 15em;
    border: 0.1875rem solid black;
    border-spacing: 20rem;
    padding: 20px;
}

.middle-section h2 {
    display: flex;
    position: relative;
    text-align: start;
}

.word-absolute {
    position: absolute;
    margin-top: -40px;
    margin-left: 140px;
    font-weight: 100;
}

.word-absolute-2 {
    position: absolute;
    margin-top: -60px;
    margin-left: 150px;
    font-weight: 100;
}

.icon-arrow {
    height: 20px;
    width: 20px;
    /* position: absolute;
    margin-top: -50px;
    margin-left: 230px; */
}

.article-description {
    position: relative;
    margin: 20px;
}

/* .video-section {
    border-top: 0;
    border-bottom: 0.2rem solid gray;
    border-spacing: 20em;
    padding: 20px;
} */

.video-section-1 {
    display: flex;
    align-items: self-end;
    border-bottom: 0.2rem solid gray;
    border-spacing: 20em;
    padding: 20px;
}

.video-section-2 {
    display: flex;
    align-items: self-end;
    border-bottom: 0.2rem solid gray;
    border-spacing: 20em;
    padding: 20px;
}

.video-section-3 {
    display: flex;
    align-items: self-end;
    border-bottom: 0.2rem solid gray;
    border-spacing: 20em;
    padding: 20px;
}

.strawberry-fruit {
    height: 230px;
    width: 230px;
    padding: 0;
}

.orange-fruit {
    height: 600px;
    width: 400px;
    padding: 0;

}

.fruit-container {
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(1, 4vw); */
    padding: 20px;
    margin: 50px;
    justify-content: space-around;
    /* height: 70vh; */
}

.word-to-front {
    z-index: 98;
    position: absolute;
    color: white;
    margin-top: 85px;
    width: 1vw;
}

.footer-container {
    display: flex;
    justify-content: space-around;
}