body {
    margin: 14px;
    padding: 30px;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    border: 20px black;
}

.image-icon {
    border-radius: 10%;
    width: 15em;
    border: 0.1875rem solid black;
    border-spacing: 20rem;
    padding: 20px;
}

h2 {
    display: flex;
    position: relative;
    text-align: start;
}

.word-absolute {
    position: absolute;
    margin-top: -40px;
    margin-left: 140px;
    font-weight: 100;
}

.word-absolute-2 {
    position: absolute;
    margin-top: -60px;
    margin-left: 150px;
    font-weight: 100;
}

.grid-container-1 {
    display: grid;
    justify-content:
}

.icon-arrow {
    height: 20px;
    width: 20px;
}

.article-description {
    position: relative;
    margin: 20px;
}

.icon-arrow {
    position: absolute;
    margin-top: -50px;
    margin-left: 230px;
}

.video-section {
    border-top: 0;
    border-bottom: 0.2rem solid gray;
    border-spacing: 20em;
    padding: 20px;
}

.orange-fruit {
    height: 600px;
    width: 400px;
    padding: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px;
    padding: 20px;
    justify-content: space-around;
}

.word-to-front {
    z-index: 12;
    position: absolute;
    color: white;
    margin-top: 85px;
}